/* Mobile */
.container {
    width: 100vw;
    height: 100vh;

    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}



@media screen and (min-width: 480px) { .container { padding: 0 3rem; } }

/* Tablet */
@media screen and (min-width: 580px) { .container { gap: 2rem; } }
@media screen and (min-width: 780px) { .container { padding: 0 4rem; } }
@media screen and (min-width: 980px) { .container { padding: 0 6rem; } }

/* Desktop */
@media screen and (min-width: 1440px) {
    .container {
        padding: 0 9.188rem;

        gap: 4rem;
    }
}